.header-main .social-icons2 .instagram-icon {
    color: var(
      --text-color
    ); /* Color negro (puedes definirlo en :root como #000000) */
    text-decoration: none; /* Sin subrayado */
    font-size: 1.8rem; /* Tamaño del ícono */
  }
  .header-main .social-icons2 a {
    color: var(
      --text-color
    ); /* Color negro (puedes definirlo en :root como #000000) */
    text-decoration: none; /* Sin subrayado */
    font-size: 1rem; /* Tamaño del ícono */
  }

  .header-main .social-icons2 a:hover {
    opacity: 0.7; /* Efecto al pasar el mouse */
  }
  .social-icons2 a {
    color: var(--text-color); /* Color del ícono */
    margin: 0px 10px; /* Espaciado entre íconos */
    font-size: 1.5rem; /* Tamaño del ícono */
    text-decoration: none; /* Sin subrayado */
  }
  .social-icons2 a:hover {
    opacity: 0.7; /* Efecto al pasar el mouse */
  }
  .social-icons2.show {
    display: flex; /* Mostrar cuando se activa */
  }
  .contacto-link {
    font-weight: normal;
    font-size: 1;
  }
  .montserrat-light {
    font-family: 'Montserrat', serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  